<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelApp | Flights</title>

  <link href="/css/flight.css" rel="stylesheet" type="text/css">
</head>

<body class="color-background">

  <div class="logo poppins-black-white-36px">
    <a href="/" class="logo-color">Travel App</a>
  </div>

  <div class="title-left-space">
    <h1 class="poppins-black-white-25px">Choose your flight!</h1>
  </div>

  <form id="flightForm">

    <div class="selection-border">
      <% flights.forEach((flight, index) => { %>
        <div class="input-style">
          <input type="radio" id="option<%= index + 1 %>" name="option<%= index + 1 %>">
          <label for="option<%= index + 1 %>" class="poppins-bold-parsley-14px">
            <p class="poppins-black-white-36px"><%= `Flight ${index + 1}` %></p>
            <p>Price: <%= flight.price %></p>
          </label>
        </div>

        <div class="next-step-style">
          <button class="poppins-bold-parsley-14px" type="submit">Continue the selection</button>
        </div>
      </div>

    </div>

  </form>

  <script>
    document.getElementById('flightForm').addEventListener('submit', async (event) => {
      event.preventDefault();

      const form = event.target;
      const formData = new FormData(form);
      const requestData = Object.fromEntries(formData);

      try {
        const response = await fetch('/flights/paymentPage', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(requestData)
        });

        if (response.ok) {
          const data = await response.json();
          if (data.redirect) {
          const { flight, guests, user } = data;
          window.location.href = `${data.redirect}?flight=${encodeURIComponent(JSON.stringify(flight))}&guests=${encodeURIComponent(JSON.stringify(guests))}&user=${encodeURIComponent(JSON.stringify(user))}`;
          }
        } else {
            const errorData = await response.json();
            console.error('Flight Selection Failed:', errorData.error);
            // Handle error display on the frontend
        }
        } catch (error) {
        console.error('Flight Selection Failed:', error);
        // Handle error display on the frontend
        }
    });
  </script>

  </body>

</html>