<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelApp | Flights</title>

  <link href="/css/flight.css" rel="stylesheet" type="text/css">
</head>

<body class="color-background">

  <div class="logo poppins-black-white-36px">
    <a href="/" class="logo-color">Travel App</a>
  </div>

  <div class="title-left-space">
    <h1 class="poppins-black-white-25px">Choose your flight!</h1>
  </div>

  <form id="flightForm">

    <div class="selection-map-division">

      <div class="selection-border">
        <% flights.forEach((flight, index) => { %>
          <div class="input-style">
            <input type="radio" id="option<%= index + 1 %>" name="flight" value="<%= encodeURIComponent(JSON.stringify(flight)) %>">
            <label for="option<%= index + 1 %>" class="poppins-bold-parsley-14px">
              <p><%= `Flight ${index + 1}` %> - <%= flight.price * guests %> $</p>
            </label>
          </div>
        <% }); %>
      </div>

      <input type="hidden" value="<%= guests %>" name="guests">
      <input type="hidden" value="<%= user %>" name="user">

      <div>
        <div>
          <img class="map-frame" style="width: 60%;" src="https://wallpaperaccess.com/full/424833.jpg">
        </div>

        <div class="next-step-style">
          <button class="poppins-bold-parsley-14px next-step-button" type="submit">Continue the selection</button>
        </div>
      </div>

    </div>

  </form>

  <script>
    document.getElementById('flightForm').addEventListener('submit', async (event) => {
      event.preventDefault();

      const form = event.target;
      const formData = new FormData(form);
      const requestData = Object.fromEntries(formData);

      const urlParams = new URLSearchParams(window.location.search);
      const encodedUser = urlParams.get('user');
      const encodedFlight = document.querySelector('input[name="flight"]:checked').value;

      try {
        const response = await fetch('/flights/paymentPage', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(requestData)
        });

        if (response.ok) {
          const data = await response.json();
          if (data.redirect) {
          const { flight, guests, user } = data;
          window.location.href = `${data.redirect}?flight=${encodedFlight}&guests=${encodeURIComponent(JSON.stringify(guests))}&user=${encodedUser}`;
          }
        } else {
            const errorData = await response.json();
            console.error('Flight Selection Failed:', errorData.error);
            // Handle error display on the frontend
        }
        } catch (error) {
        console.error('Flight Selection Failed:', error);
        // Handle error display on the frontend
        }
    });
  </script>

  </body>

</html>