<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelApp | Route</title>

  <link href="/css/overland.css" rel="stylesheet" type="text/css">
</head>

<body class="color-background">

  <div class="logo poppins-black-white-36px">
    <a href="/" class="logo-color">Travel App</a>
  </div>

  <div class="title-left-space">
    <h1 class="poppins-black-white-25px">Choose your overland itinerary!</h1>
  </div>

  <form id="overlandForm">
    
    <div class="selection-map-division">

      <div class="selection-border">
        <% overlands.forEach((overland, index) => { %>
          <div class="input-style">
            <input type="radio" id="option<%= index + 1 %>" name="overland" onclick="showImage('<%=overland.image%>')" value="<%= encodeURIComponent(JSON.stringify(overland)) %>">
            <label for="option<%= index + 1 %>" class="poppins-bold-parsley-14px">
              <p><%= `Overland Trip ${index + 1}` %> - <%= overland.price * guests %> $</p>
            </label>
          </div>
          <% }); %>
      </div>

      <input type="hidden" value="<%= guests %>" name="guests">
      <input type="hidden" value="<%= user %>" name="user">

      <div>
        <div>
          <img id="selected-image" class="map-frame">
        </div>
        <div class="next-step-style">
          <button class="poppins-bold-parsley-14px next-step-button" type="submit">Continue the selection</button>
        </div>
      </div>

    </div>
  </form>

  <script>
    document.getElementById('overlandForm').addEventListener('submit', async (event) => {
      event.preventDefault();

      const form = event.target;
      const formData = new FormData(form);
      const requestData = Object.fromEntries(formData);

      const urlParams = new URLSearchParams(window.location.search);
      const encodedUser = urlParams.get('user');
      const encodedOverland = document.querySelector('input[name="overland"]:checked').value;

      try {
        const response = await fetch('/overlands/hotelPage', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(requestData)
        });

        if (response.ok) {
          const data = await response.json();
          if (data.redirect) {
          const { overland, guests, user } = data;
          window.location.href = `${data.redirect}?overland=${encodedOverland}&guests=${encodeURIComponent(JSON.stringify(guests))}&user=${encodedUser}`;
          }
        } else {
            const errorData = await response.json();
            console.error('Overland Trip Selection Failed:', errorData.error);
            // Handle error display on the frontend
        }
        } catch (error) {
        console.error('Overland Trip Selection Failed:', error);
        // Handle error display on the frontend
        }
    });

    // JavaScript code
    function showImage(imageUrl) {
      var imgElement = document.getElementById('selected-image');
      imgElement.src = imageUrl;
    }

  </script>

</body>

</html>