<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelApp | Route</title>

  <link href="/css/overland.css" rel="stylesheet" type="text/css">
</head>

<body class="color-background">

  <div class="logo poppins-black-white-36px">
    <a href="/" class="logo-color">Travel App</a>
  </div>

  <div class="title-left-space">
    <h1 class="poppins-black-white-25px">Choose your overland itinerary!</h1>
  </div>

  <form id="overlandForm">

    <div class="selection-map-division">

      <div class="selection-border">
        <% overlands.forEach((overland, index) => { %>
          <div class="input-style">
            <input type="radio" id="option<%= index + 1 %>" name="option<%= index + 1 %>" value="<%= overland %>">
            <label for="option<%= index + 1 %>" class="poppins-bold-parsley-14px">
              <h2><%= `Overland Trip ${index + 1}` %></h2>
              <p>Price: <%= overland.price %></p>
            </label>
          </div>
        <% }); %>
      </div>

      <input type="hidden" value="<%= guests %>" name="guests">
      <input type="hidden" value="<%= user %>" name="user">

      <div>
        <div class="map-frame">
          <button style="height: 300px; width: 650px;"></button>
        </div>

        <div class="next-step-style">
          <a class="poppins-bold-parsley-14px" type="submit">Continue the selection</a>
        </div>
      </div>

    </div>
  </form>

</body>

</html>