<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelApp | Flights</title>

  <link href="/css/payment.css" rel="stylesheet" type="text/css">
</head>

<body class="color-background">

    <div class="logo poppins-black-white-36px">
        <a class="logo-color">Travel App</a>
    </div>

    <form id="paymentForm">
        <div class="price-border">

            <input type="hidden" value="<%= user._id%>">

            <%if (typeof overland === 'undefined' || overland === null) { %>
                <div class="poppins-bold-black-14px">
                    Order #<%= flight._id %>
                </div>

                <div class="gap-price-description">

                    <div class="poppins-bold-black-14px">
                        Price: <%= flight.price * guests%>$
                    </div>

                    <div class="poppins-bold-black-14px">
                        Description: <h4 class="description-style">Client: <%= user.name%>, Email: <%= user.email%>, Type of trip: Flight, Countries: <%= flight.origin%>/<%= flight.destination%> </h4>
                    </div>
                </div>

                <input type="hidden" name="description" value="Client: <%= user.name%> / Email: <%= user.email%> / Type of trip: Flight / Countries: <%= flight.origin%>,<%=flight.stops%>,<%=flight.destination%>" >
                <input type="hidden" name="total" value=<%= flight.price * guests%>>
                <input type="hidden" name="type" value="flight">

            <%} if ((typeof flight === 'undefined' || flight === null)) { %>

                <input type="hidden" value="<%= user._id%>">

                <div class="poppins-bold-black-14px">
                    Order #<%= overland._id %>
                </div>
    
                <div class="gap-price-description">
    
                    <div class="poppins-bold-black-14px" style="width: 250px;">
                        Price: <%= overland.price * guests%>$
                    </div>

                    <div class="poppins-bold-black-14px">
                        Description: <h4 class="description-style">Client: <%= user.name%> / Email: <%= user.email%> / Type of trip: Overland / Countries: <%= overland.origin%>,<%=overland.stops%>,<%=overland.destination%> / Hotels: <%=overland.hotels%> </h4>
                    </div>
                </div>

                <input type="hidden" name="description" value="Client: <%= user.name%> / Email: <%= user.email%> / Type of trip: Overland / Countries: <%= overland.origin%>,<%=overland.stops%>,<%=overland.destination%> / Hotels: <%=overland.hotels%>" >
                <input type="hidden" name="total" value=<%= overland.price * guests%>>
                <input type="hidden" name="type" value="overland">

            <% } %>
        </div>

        <input type="hidden" name="guests" value=<%=guests%>>
        <input type="hidden" name="userId" value="<%=user._id%>">
    
    <div>
        <div>
            <h3 class="poppins-bold-black-25px title-middle">Select your payment method:</h3>
        </div>

            <div class="title-middle">
                <div class="gap-methods">
                    <input type="radio" name="paymentMethod" id="option1" value="Card">
                    <label for="option1" class="poppins-bold-black-14px">Credit or debit card (Visa / Mastercard / MIR)</label>
                </div>

                <div class="gap-methods">
                    <input type="radio" name="paymentMethod" id="option2" value="Apple Pay">
                    <label for="option2" class="poppins-bold-black-14px">Apple pay</label>
                </div>

                <div class="gap-methods">
                    <input type="radio" name="paymentMethod" id="option3" value="Paypal">
                    <label for="option3" class="poppins-bold-black-14px">Paypal</label>
                </div>

                <div class="gap-methods">
                    <input type="radio" name="paymentMethod" id="option4" value="Bank Transfer">
                    <label for="option4" class="poppins-bold-black-14px">Bank Transfer</label>
                </div>
            </div>

            <div class="title-middle">
                <div class="go-back-style">
                    <button class="go-back-button poppins-bold-black-14px">Go Back</button>
                </div>

                <div class="continue-style">
                    <button class="continue-button poppins-bold-black-14px" type="submit">Continue</button>
                </div>
            </div>

    </div>
    </form>

    <script>
        document.getElementById('paymentForm').addEventListener('submit', async (event) => {
          event.preventDefault();
    
          const form = event.target;
          const formData = new FormData(form);
          const requestData = Object.fromEntries(formData);

          const urlParams = new URLSearchParams(window.location.search);
          const encodedUser = urlParams.get('user');
                      
          try {
            const response = await fetch('/payments/', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(requestData)
            });
    
            if (response.ok) {
              const data = await response.json();
              if (data.redirect) {
              const { user } = data;
              window.location.href = `${data.redirect}?user=${encodedUser}`;
              }
            } else {
                const errorData = await response.json();
                console.error('Payment Failed:', errorData.error);
                // Handle error display on the frontend
            }
            } catch (error) {
            console.error('Payment Failed:', error);
            // Handle error display on the frontend
            }
        });
    </script>

</body>
</html>
